/* Import Google Font */
@import url("https://fonts.googleapis.com/css2?family=IBM+Plex+Sans:ital,wght@0,100..700;1,100..700&display=swap");

/* Universal Styles */
*,
*::before,
*::after {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: "IBM Plex Sans", serif;
}

input[type="file"],
input[type="file"]::file-selector-button,
input[type="text"],
button {
  font-size: 1rem;
  font-family: "IBM Plex Sans", serif;
}

input[type="file"] {
  margin-right: 1rem;
}

/* Container and Layout */
.container {
  padding: 0 1.5rem;
  margin: 1.5rem 0;
}

#wrap {
  margin: 1rem 0;
}

/* Table Styles */
table {
  border-collapse: collapse;
}

th {
  font-weight: 500;
}

th,
td {
  padding: 0.25rem 0.5rem;
  text-wrap: nowrap;
}

td {
  max-width: fit-content;
}

tr {
  cursor: pointer;
}

/* Form Styles */
#uploadForm {
  padding-bottom: 1rem;
  border-bottom: 1px solid #ccc;
}

#deleteForm {
  display: inline-block;
}

#downloadForm {
  padding-bottom: 2rem;
}

/* Scrollable Table */
.table {
  max-height: 600px;
  overflow-y: scroll;
}

/* Row Highlighting */
.selected-row {
  background-color: #ffffcc;
}

.hover-row {
  background-color: #efefef;
}
