{% if schedules %}
<section class="actions">
  <h2>Actions</h2>
  <div class="group">
    <form
      id="downloadForm"
      method="POST"
      action="{{ url_for('main.download_processed') }}"
    >
      <input type="hidden" name="selected_rows" id="selectedRowsInput" />
      <button type="button" onclick="prepareDownload()">
        Download Schedule
      </button>
    </form>
    <form
      id="cleanForm"
      method="POST"
      action="{{ url_for('main.destroy_session') }}"
    >
      <button type="button" onclick="cleanSchedule()">Clean Schedule</button>
    </form>
  </div>
</section>
{% endif %}
