<section id="preview" class="preview">
  {% if schedules %}
  <h2>Filter Data</h2>
  <div class="preview__filters">
    <div class="preview__filter-group">
      <div class="preview__filter-group-item">
        <label for="filterInstructor">Filter by Instructor: </label>
        <input
          type="text"
          id="filterInstructor"
          placeholder="Enter instructor's name"
        />
      </div>
      <div class="preview__filter-group-item">
        <label for="filterGroup">Filter by Group:</label>
        <input type="text" id="filterGroup" placeholder="Enter group name" />
      </div>
    </div>

    <label for="filterOverlaps">
      <input type="checkbox" id="filterOverlaps" />
      Filter Overlaps
    </label>

    <button type="button" id="clearFilters">Clear Filters</button>
  </div>

  <h2>Data Preview</h2>
  <div class="preview__toolbar">
    <div class="preview__stats">
      <p>Items: {{ schedules|length }}</p>
      <p>Selected: <span id="selected-items">0</span></p>
      <p>Overlaps: <span id="overlap-items">0</span></p>
      <form
        id="deleteForm"
        class="preview__delete-form"
        method="POST"
        action="{{ url_for('main.delete_rows') }}"
      >
        <input
          type="hidden"
          name="selected_rows"
          id="selectedRowsDeleteInput"
        />
        <button type="button" id="deleteSelected">Delete Selected</button>
      </form>
    </div>
    <div class="preview__action-group">
      <span>Copy:</span>
      <button type="button" id="instructorsBtn" class="preview__button">
        Instructors
      </button>
      <button type="button" id="scheduleBtn" class="preview__button">
        Schedule
      </button>
    </div>
  </div>
  <div class="preview__table-wrapper">
    <table id="data" class="preview__table" border="1">
      <thead>
        <tr>
          <th>
            <input type="checkbox" id="selectAll" />
          </th>
          <th>Date</th>
          <th>Shift</th>
          <th>Area</th>
          <th>Start Time</th>
          <th>End Time</th>
          <th>Code</th>
          <th>Instructor</th>
          <th>Group</th>
          <th>Mins</th>
          <th>Units</th>
        </tr>
      </thead>
      <tbody>
        {% for row in schedules %}
        <tr>
          <td>
            <input
              type="checkbox"
              name="selected_rows"
              value="{{ loop.index0 }}"
            />
          </td>
          {% for cell in row %}
          <td><span>{{ cell }}</span></td>
          {% endfor %}
        </tr>
        {% endfor %}
      </tbody>
    </table>
  </div>
  {% else %}
  <a href="https://github.com/byhelaman" target="_blank">Github</a>
  {% endif %}
</section>
