<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link
      rel="shortcut icon"
      href="{{ url_for('static', filename='favicon.png') }}"
      type="image/png"
    />
    <title>AutoSched</title>
    <link
      rel="stylesheet"
      href="{{ url_for('static', filename='css/styles.css') }}"
    />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=IBM+Plex+Sans:ital,wght@0,100..700;1,100..700&display=swap"
      rel="stylesheet"
    />
  </head>
  <body>
    <div class="container">
      <h1>Generate Schedule</h1>
      <form id="uploadForm" method="POST" enctype="multipart/form-data">
        <input type="file" name="files" accept=".xlsx" multiple required />
        <button id="submit" type="submit">Upload & Process</button>
      </form>

      <div id="preview">
        {% if schedules %}
        <h2>Filter Data</h2>
        <label for="filterInstructor">Filter by Instructor:</label>
        <input
          type="text"
          id="filterInstructor"
          onkeyup="filterTable()"
          placeholder="Enter instructor's name"
        />

        <label for="filterGroup">Filter by Group:</label>
        <input
          type="text"
          id="filterGroup"
          onkeyup="filterTable()"
          placeholder="Enter group name"
        />
        <button type="button" onclick="clearFilters()">Clean Filters</button>

        <h2>Data Preview</h2>
        <div class="stats">
          <p>Items: {{ schedules|length }}</p>
          <p>Selected: <span id="selected-items">0</span></p>
          <form
            id="deleteForm"
            method="POST"
            action="{{ url_for('main.delete_rows') }}"
          >
            <input
              type="hidden"
              name="selected_rows"
              id="selectedRowsDeleteInput"
            />
            <button type="button" onclick="deleteSelectedRows()">
              Delete Selected
            </button>
          </form>
        </div>
        <div class="table">
          <table border="1">
            <thead>
              <tr>
                <th>
                  <input
                    type="checkbox"
                    id="selectAll"
                    onclick="toggleSelectAll()"
                  />
                </th>
                <th>Date</th>
                <th>Shift</th>
                <th>Area</th>
                <th>Start Time</th>
                <th>End Time</th>
                <th>Code</th>
                <th>Instructor</th>
                <th id="group">Group</th>
                <th>Minutes</th>
                <th>Units</th>
              </tr>
            </thead>
            <tbody>
              {% for row in schedules %}
              <tr>
                <td>
                  <input
                    type="checkbox"
                    name="selected_rows"
                    value="{{ loop.index0 }}"
                    onchange="toggleRowSelection(this)"
                  />
                </td>
                {% for cell in row %}
                <td><span>{{ cell }}</span></td>
                {% endfor %}
              </tr>
              {% endfor %}
            </tbody>
          </table>
        </div>
        <br />
        {% else %}
        <a href="https://github.com/byhelaman" target="_blanks">Github</a>
        {% endif %}
      </div>

      {% if schedules %}
      <div class="actions">
        <form
          id="downloadForm"
          method="POST"
          action="{{ url_for('main.download_processed') }}"
        >
          <input type="hidden" name="selected_rows" id="selectedRowsInput" />
          <button type="button" onclick="prepareDownload()">
            Download Schedule
          </button>
        </form>
        <form
          id="cleanForm"
          method="POST"
          action="{{ url_for('main.destroy_session') }}"
        >
          <button type="button" onclick="cleanSchedule()">
            Clean Schedule
          </button>
        </form>
      </div>
      {% endif %}
    </div>

    <script src="{{ url_for('static', filename='js/scripts.js') }}"></script>
  </body>
</html>
